
body {
  margin: 10px 95px;
  font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana;
  background-image: url('/img/logo_vertical.png');
  background-repeat: no-repeat;
  background-position: 10px 25px;
  
  width: 680px;
}

.breadcrumbs {
  background-color: #f0f0f0;
}

.breadcrumbs a {
  text-decoration: none;
  color: black;
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

/* tooltips should have dark background and show up to the side */
.tooltip {
  background-color:#000;
  border:1px solid #fff;
  padding:10px 15px;
  width:200px;
  display:none;
  color:#fff;
  text-align:left;
  font-size:12px;

  /* outline radius for mozilla/firefox only */
  -moz-box-shadow:0 0 10px #000;
  -webkit-box-shadow:0 0 10px #000;
}

table.display {
        margin: 0 auto;
        clear: both;
        width: 100%;

        /* Note Firefox 3.5 and before have a bug with border-collapse
         * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
         * border-spacing: 0; is one possible option. Conditional-css.com is
         * useful for this kind of thing
         *
         * Further note IE 6/7 has problems when calculating widths with border width.
         * It subtracts one px relative to the other browsers from the first column, and
         * adds one to the end...
         *
         * If you want that effect I'd suggest setting a border-top/left on th/td's and 
         * then filling in the gaps with other borders.
         */
}

table.display thead th {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
}

table.display tfoot th {
        padding: 3px 18px 3px 10px;
        border-top: 1px solid black;
        font-weight: bold;
}

table.display tr.heading2 td {
        border-bottom: 1px solid #aaa;
}

table.display td {
        padding: 3px 10px;
}

table.display td.center {
        text-align: center;
}

table.display tr.odd {
        background-color: #E2E4FF;
}

table.display tr.even {
        background-color: white;
}

td.details {
        background-color: #d1cfd0;
        border: 2px solid #A19B9E;
}

table.display {
        margin: 0 auto;
        clear: both;
        width: 500px;
}

table.search {
	width: 100%;
}

table.search thead{
        display: none;
}

table.search th {
        height: 1em;
        margin-bottom: 5px;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 130%;
        
        text-align: left;
}

.dataTables_length {
        width: 40%;
        float: left;
}

.dataTables_filter {
        width: 60%;
        float: right;
        text-align: right;
}

.dataTables_filter input {
        padding:3px 15px 3px 30px;
	margin:0px; 
	background: url('/img/search.png') no-repeat 8px 3px;
        border-radius:15px; 
	-moz-border-radius:15px; 
	-webkit-border-radius:15px;
}

.dataTables_info {
        width: 60%;
        float: left;
}

.dataTables_paginate {
        float: right;
        text-align: right;
}

table.vmpanel {
	border-bottom: 2px solid #9baff1;
	width: 100%;
}

#header
{
    background: #E2E4FF;
    padding: 3px 18px 3px 1px;
    font-weight: bold;
}

#detail
{
        font-style: italic;
        font-size: 80%;
        color: grey;
        width: 100%;

}

#description
{
	width: 100%;
}

#sidebar {
    width: 130px;
    height: auto;
    overflow: hidden;
    background: #ffffff;
    margin: 0 auto;
    float: left;
    clear: right;
    padding: 8px;
    background: #e5e5e5;
    border: 2px solid #E2E4FF;
}

#content {
    width: 500px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    float: left;
    padding: 10px;
}

img
{ border-style: none;
} 

table.metadata {
   border-collapse:collapse;
}
table.metadata tr
{
   border-bottom: 1px solid #9baff1;
}

tr.spaceunder > td
{
  padding-bottom: 1em;
}
