.rate_image {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      220px;
    height:     30px;
}
.ratings_stars {
    background: url('cloud_empty.png') no-repeat;
    float:      left;
    height:     25px;
    padding:    2px;
    width:      39px;
}
.ratings_vote {
    background: url('cloud_full.png') no-repeat;
}
.ratings_over {
    background: url('cloud_highlight.png') no-repeat;
}
.total_votes {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute;  
} 
.image_rating {
    font: 10px verdana, sans-serif;
    margin: 0 auto 5px 0;
    width: 220px;
}
