##################################
# General
##################################

# directory to store the metadata files
data.dir=/var/lib/stratuslab/marketplace/data
# directory to store metadata files awaiting confirmation
pending.dir=/var/lib/stratuslab/marketplace/pending

##################################
# Store
##################################

# memory or native
store.type=memory

##################################
# Email
##################################

# enable/disable email verification of uploads
validate.email=false

# email settings
admin.email=admin@example.org
mail.host=smtp.example.org
mail.port=465
mail.user=no-reply@example.org
mail.password=xxxxxxx
mail.ssl=true
mail.debug=true

# send reminder to endorser of current entries
# and entries due to expire
# endorser.reminder=false

# endpoint to be used in reminder emails
# marketplace.endpoint=http://marketplace.stratuslab.eu

###################################
# Whitelist
###################################

#whitelist.enabled=false
#whitelist.truststore=/opt/stratuslab/marketplace/etc/truststore.jks
#whitelist.password=xxxxxxx
#whitelist.location=/opt/stratuslab/marketplace/etc/marketplace.whitelist

